@{
    ViewBag.Title = "Confirmation";
}

<p style="font-family:Arial; font-weight: bold; font-size:large">Thank you for the purchase. Your order has been confirmed. </p>
<p style="font-family: Arial; font-weight: bold; font-size: large; color: red">Your Order number is @ViewBag.orderNumber</p>